body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Стили для заголовка */
h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Стили для параграфа */
p {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Стили для кнопки */
button {
    background-color: #ff4757;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff6b81;
    transform: scale(1.05);
}

/* Стили для формы */
form {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: none;
    margin-top: 20px;
}

/* Стили для инпутов */
input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

/* Стили для инпутов при фокусе */
input:focus {
    outline: none;
    border: 2px solid #ff4757;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Стили для сообщения об ошибке */
#error {
    color: #ff4757;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Стили для изображения */
img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
